<!DOCTYPE html>
<html>
<head>
  <title>Plants List</title>
</head>
<body>
  <h1>Plants</h1>
  <a href="/plants/new">Add New Plant</a>
  <ul>
    <% plants.forEach(plant => { %>
      <li>
        <strong><%= plant.name %></strong> - <%= plant.type %> 
        <br>
        <%= plant.description %>
        <br>
        <a href="/plants/<%= plant._id %>/edit">Edit</a>
        <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
